@import 'tailwindcss';

@layer utilities {
  @keyframes shake-angle {
    10%,
    90% {
      transform: rotate(-2deg);
    }
    20%,
    80% {
      transform: rotate(4deg);
    }
    30%,
    50%,
    70% {
      transform: rotate(-6deg);
    }
    40%,
    60% {
      transform: rotate(8deg);
    }
  }

  body {
    min-width: 850px;
  }

  .shake-angle {
    animation: shake-angle 0.8s ease-in-out;
  }

  .hover-shake-angle:hover {
    animation: shake-angle 0.8s ease-in-out;
  }
}

:root {
  --primary-color: #000e4e;
  --secondary-color: #00b7f1;
  --secondary-color-shade: #00c8ff;
}

.bg-primary {
  background-color: var(--primary-color);
}

.border-organization {
  border-color: var(--secondary-color);
  border-radius: 10px;
  border-width: 2px;
}

.text-color-primary {
  color: var(--primary-color);
}

.text-color-secondary {
  color: var(--secondary-color);
}

.bg-secondary {
  background-color: var(--secondary-color);
}

.bg-secondary:hover {
  background-color: var(--secondary-color-shade);
}

@layer utilities {
  @keyframes shake {
    10%,
    90% {
      transform: translate3d(-1px, 0, 0);
    }
    20%,
    80% {
      transform: translate3d(2px, 0, 0);
    }
    30%,
    50%,
    70% {
      transform: translate3d(-4px, 0, 0);
    }
    40%,
    60% {
      transform: translate3d(4px, 0, 0);
    }
  }

  .shake {
    animation: shake 0.8s ease-in-out;
  }

  .hover-shake:hover {
    animation: shake 0.8s ease-in-out;
  }
}

.hero {
  background-image: url('../../public/drone-flight.jpg');
  background-repeat: no-repeat;
}

.label {
  @apply block mb-1 text-slate-500;
}

.input {
  @apply block w-full p-2 pl-4 rounded-md shadow-xs border-2 border-gray-200 text-gray-500;
}

.input:focus {
  border-color: var(--secondary-color);
  border-width: 2px;
  outline: none;
}

.input-error {
  @apply text-red-400 text-sm mt-1;
}

.input-border {
  @apply border-red-400;
}

.text-area {
  @apply block w-full p-2 pl-4 rounded-md shadow-sm ring-2 text-gray-500;
  @apply focus:outline-none focus:ring-[var(--secondary-color)];
}

.btn {
  @apply text-white py-2 px-4 shadow-sm rounded-sm hover:shadow-md;
}

.notification-btn {
  @apply cursor-pointer font-semibold hover:underline underline-offset-2;
}
